<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.hyperionics.ExtractTest" android:versionCode="1000000" android:versionName="1.0.0">
	<uses-sdk android:targetSdkVersion="8" />
	<application android:label="\@Voice Content Extractor"></application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>